:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  .info-header {
    max-width: 810px;
    display: flex;
    width: 100%;
    .info-title {
      flex: 1;
      font-size: 20px;
      display: flex;
      .info-name {
        flex: 1;
      }
      .info-favorite {
        flex: 0 0 20px;
        cursor: pointer;
        color: orange;
        opacity: 0.5;
        &:hover {
          transition: 300ms ease all;
          transform: scale(1.2);
          left: 20px;
          opacity: 1;
        }
      }
    }
  }
  .charts {
    display: flex;
    flex-direction: row;
    height: 200px;
    max-height: 200px;
    .chart {
      flex: 1;
      height: 200px;
      max-height: 200px;
    }
  }

  .progress {
    height: 2px;
    width: 100%;
    opacity: 0.3;
    position: absolute;
    bottom: 0;
    left: 0;
    .bar {
      transition: 100ms ease width;
      height: 2px;
      width: 0;
      box-shadow: 0 0 9px #00adff;
      border-radius: 5px;
      background-color: #005cff;
    }
  }

  app-card {
    margin: 20px 0;
    max-width: 810px;
  }

  .total {
    color: gray;
    display: flex;
    align-items: center;
    .reviews {
      flex: 1;
    }
    .countries {
      flex: 1;
    }
    a {
      color: #665cc6;
      i {
        font-size: 24px;
      }
    }
  }

  .review {
    max-width: 800px;
    padding: 12px 12px;
    border-bottom: 1px solid #f1f1f1;
    background: rgba(249, 249, 249, 0.89);
    margin: 6px 0 6px;
    border-radius: 8px;
    box-shadow: 1px 1px 15px #0000002e;

    .header {
      padding: 4px 0;
      display: flex;
      .title {
        flex: 1;
        padding-left: 15px;
        font-weight: 500;
      }
      .date, .version {
        color: gray;
        font-size: 90%;
      }
      .author {
        color: gray;
        flex: 1;
        font-size: 90%;
        .country {
          color: gray;
          font-style: italic;
          font-size: 90%;
        }
      }
    }
    .content {
      padding: 4px 0;
      line-height: 18px;
    }
  }


}
