<div *ngIf="item"  class="info-header">
  <div class="info-title">
    <div class="info-name">{{item.trackName}}</div>
    <div class="info-favorite">
      <span *ngIf="!favoritesService.isFavorite(item)" (click)="favoritesService.add(item)">
        <i class="far fa-star"></i>
      </span>
      <span *ngIf="favoritesService.isFavorite(item)" (click)="favoritesService.remove(item)">
        <i class="fas fa-star"></i>
      </span>
    </div>
  </div>
  <div class="progress">
    <div class="bar"
         *ngIf="progress.countriesResult < progress.countriesTotal"
         [ngStyle]="{width: 100 * ( progress.countriesResult / progress.countriesTotal) + '%'}"></div>
  </div>
</div>

<div *ngIf="item">
  <app-card [expanded]="true" [item]="item" class="flex"></app-card>
  <div>
    <div class="total">

      <div class="reviews">Reviews: {{allReviews.length}}{{allReviews.length === 200 ? '+' : ''}}</div>
      <div class="countries">Countries: {{loadedCountriesCount}}</div>
      <a mat-button href="https://itunes.apple.com/app/id{{item.trackId}}">
        <i class="fab fa-app-store-ios"></i>
        Open In AppStore
        <i class="fas fa-chevron-right"></i>
      </a>
    </div>

    <div class="charts">
      <div class="chart">
        <app-stars-chart [data]="ratesChartData"></app-stars-chart>
      </div>
      <div class="chart">
        <app-countries-chart [data]="countriesChartData"></app-countries-chart>
      </div>
      <!--<div class="chart">-->
        <!--<app-countries-chart [data]="countriesChartData"></app-countries-chart>-->
      <!--</div>-->
    </div>

    <div *ngFor="let review of items" class="review">
      <div class="header">
        <div class="flex">
          <app-stars [rate]="review.rating"></app-stars>
        </div>
        <div class="title">{{review.title}}</div>
        <div class="version">v{{review.version}}</div>
      </div>
      <div class="content">{{review.content}}</div>
      <div class="header">
        <div class="author">
          <img src="assets/countries/{{review.countryCode}}.png" alt="">
          {{review.author}}
          <span class="country">({{review.country}})</span>
        </div>
        <div class="date">{{review.updated}}</div>
      </div>
    </div>
  </div>
</div>

