
:host {
  [routerLink] {
    cursor: pointer;
    outline: none;
    font-size: 16px;
    transition: all 300ms;
  }

  .header {
    position: fixed;
    width: 100%;
    background-image: url(/assets/img/bg.png);
    background-color: #e9ecf6f7;
    color: #665cc6;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    z-index: 10;
    transition: 250ms all;
    padding: 0 20px;
    mat-form-field {
      margin: 10px 0 -10px;
    }

    &.expandedNavBar {
      padding: 20px;
      .navigate-back {
        font-size: 17px;
      }
      [routerLink] {
        font-size: 24px;
      }
    }

    > div {
      flex: 1;
    }
    .market-select {
      flex: 0 0 150px;
      mat-form-field {
        width: 110px;
      }
    }

    .favorites {
      flex: 0 0 200px;
    }

    .navigate-back {
      cursor: pointer;
      position: absolute;
      bottom: 6px;
      left: 20px;
      font-family: "Helvetica Light";
      font-size: 13px;

      color: #ffffff;
      font-weight: 300;
      text-shadow: 1px 1px 4px #665bc7;
      transition: 200ms all;

      &:hover {
        transform: scale(1.1);
        text-shadow: 1px 1px 15px #665bc7;
      }
    }
  }

  .main {
    //background-image: url(/assets/img/bg2.png);
    position: relative;
    padding: 130px 20px 30px;
    display: flex;
    flex-direction: column;
   }
}
