
:host {
  [routerLink] {
    cursor: pointer;
    outline: none;
    font-size: 24px;
  }

  .header {
    padding: 20px;
    background-image: url("/assets/img/bg.png");
    color: #665cc6;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    > div {
      flex: 1;
    }
    .favorites {
      flex: 0 0 200px;
    }
  }

  .main {
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
   }
}
