<div class="header" [ngClass]="[expandedNavBar?'expandedNavBar':'']">
  <div routerLink="/home">All App Store Reviews</div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Search" [(ngModel)]="searchWord" (change)="goToSearch()" >
      <button mat-button *ngIf="searchWord" matSuffix mat-icon-button aria-label="Clear" (click)="resetSearch()">
        <i class="fas fa-times"></i>
      </button>
    </mat-form-field>
    <button mat-icon-button><i class="fas fa-chevron-right"></i></button>
  </div>
  <div class="market-select">
    <mat-form-field>
      <mat-select [(value)]="selectedMarket"
                  (selectionChange)="goToSearch()"
                  placeholder="Market">
        <mat-option *ngFor="let c of countries" [value]="c[0]">
          {{c[1]}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <a class="navigate-back"
          *ngIf="enabledBack()"
          (click)="navigateBack()">
    <i class="fas fa-chevron-left"></i> Back To Search
  </a>
  <a class="navigate-back"
     *ngIf="!enabledBack()"
     (click)="resetSearch()">
    <i class="fas fa-star"></i> My Favorites
  </a>
</div>
<div class="main" [@routerTransition]="o.isActivated ? o.activatedRoute : ''">
  <router-outlet #o="outlet"></router-outlet>
</div>
