<div class="header">
  <div routerLink="/home">All App Store Reviews</div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Search" [(ngModel)]="searchWord" (change)="goToSearch()" >
      <button mat-button *ngIf="searchWord" matSuffix mat-icon-button aria-label="Clear" (click)="resetSearch()">
        <i class="fas fa-times"></i>
      </button>
  </mat-form-field>
    <button mat-button><i class="fas fa-chevron-right"></i></button>
  </div>
  <div class="favorites">
    <!--<mat-select [(value)]="markets" (selectionChange)="onMarketSelect()"  placeholder="Favorites">-->
      <!--<mat-option value="15days">Last 2 weeks</mat-option>-->
      <!--<mat-option value="29days">Last 4 weeks</mat-option>-->
      <!--<mat-option value="57days">Last 6 weeks</mat-option>-->
      <!--<mat-option value="113days">Last 12 weeks</mat-option>-->
    <!--</mat-select>-->
  </div>
</div>

<div class="main">
  <router-outlet></router-outlet>
</div>

