:host {
  width: 100%;
  mat-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.5;
  }
  .search-field {
    display: flex;
    justify-content: center;
    align-items: center;
    mat-form-field {
      flex: 0 0 300px;
    }
  }

  .apps-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    app-card {
      max-width: 800px;
      cursor: pointer;
      border-color: #665cc6;
      transition: 200ms all;
      box-shadow: 1px 1px 1px #665cc64f;

      &:hover {
        box-shadow: 1px 1px 15px #665cc64f;
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        border-right: 1px solid rgba(255, 255, 255, 0.5);
      }
    }
  }

}
