:host {
  width: 100%;
  .search-field {
    display: flex;
    justify-content: center;
    align-items: center;
    mat-form-field {
      flex: 0 0 300px;
    }
  }

  .apps-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    app-card {
      max-width: 800px;
    }
  }

}
