<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

<div>
  <div class="apps-list">

    <h3 *ngIf="(!items || items.length === 0) && !isLoading && term">No Apps Found</h3>


    <app-card *ngFor="let item of items" [item]="item" class="flex"
              (click)="goToApp(item)"
              mat-ripple mat-ripple-color="#665cc6">
    </app-card>
  </div>

  <div class="favorites" *ngIf="!isLoading && (!items || items.length === 0)">
    <h3>Favorites</h3>
    <div class="favorites-apps">
      <img *ngFor="let item of favorites"
           class="app-icon"
           [attr.src]="item.artworkUrl512"
           (click)="goToApp(item)" />
    </div>
  </div>
</div>
