<div class="card-body">
  <div class="flex flex-column left-column" [ngClass]="[expanded ? 'expanded' : '']">
    <app-stars [rate]="item.averageUserRating"></app-stars>
    <div class="img" [ngStyle]="{'background-image': 'url(' + item.artworkUrl60 + ')'}">
      <div class="img-main" *ngIf="fullImgDelay" [ngStyle]="{'background-image': 'url(' + item.artworkUrl512 + ')'}"></div>
    </div>
    <div>{{item.formattedPrice}}</div>
  </div>
  <div class="flex flex-column right-column" [ngClass]="[expanded ? 'expanded' : '']">
    <div class="title">
      <b>{{item.trackName}}</b> <i>{{item.artistName}}</i>
      <div *ngIf="!expanded" class="info-favorite">
        <span *ngIf="!favoritesService.isFavorite(item)" (click)="add($event)">
          <i class="far fa-star"></i>
        </span>
        <span *ngIf="favoritesService.isFavorite(item)" (click)="remove($event)">
          <i class="fas fa-star"></i>
        </span>
      </div>
    </div>
    <div class="description" [innerHtml]="item.description"></div>

    <div><i>{{item.genres.join(', ')}}</i></div>
    <div class="info">
      <span>v<b>{{item.version}}</b></span>
      <span>{{(item.fileSizeBytes / 1024 / 1024).toFixed(1)}}Mb</span>
      <span>{{getDateFormatted(item.currentVersionReleaseDate)}}</span>
    </div>
  </div>
</div>
