:host {
  position: relative;
  font-size: 14px;
  display: block;
  overflow: hidden;
  height: 16px;
  width: 80px;
  text-align: left;
  margin: -2px 0 5px;

  .rating {
    position: absolute;
    overflow: hidden;
    height: 16px;
    width: 80px;
    top: 0;
    left: 0;
    i {
      min-width: 16px;
      color: rgba(195, 195, 195, 0.2);
    }
  }
  .rating-fill {
    position: absolute;
    overflow: hidden;
    color: #ff8600;
    height: 16px;
    width: 0;
    top: 0;
    left: 0;
    i {
      min-width: 16px;
    }
  }
}
