/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ngx-toastr/toastr.css";

@font-face {
  font-family: 'Helvetica Light';
  src: url(assets/fonts/HelveticaNeueCyr-UltraLight_0.otf) format("opentype");
}

@font-face {
  font-family: 'Helvetica';
  src: url(assets/fonts/HelveticaNeueCyr-Light.otf) format("opentype");
}

@font-face {
  font-family: 'Helvetica Light';
  src: url(assets/fonts/HelveticaNeueCyr-UltraLight_0.otf) format("opentype");
}

* {
  font-family: 'Helvetica', Helvetica, 'Myriad Pro', 'Lucida Grande', sans-serif;
}

html {
  overflow-y: scroll;
}

body, html {
  padding: 0;
  margin: 0;
  min-height: 100%;
}

@mixin overview-scroll {
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  &::-webkit-scrollbar:vertical {
    width: .8rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #eee;
    border-radius: .3rem;
    border: none;
  }
  &::-webkit-scrollbar-track {
    border-radius: .3rem;
    background-color: #c2c2c2;
  }
}

body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cedbe9+0,8fc1e8+17,6199c7+50,3a84c3+51,419ad6+59,4bb8f0+71,3a8bc2+84,26558b+100 */
  background: #cedbe9; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #e6e9ee 0%, #f4f8ff 17%, #c2dfed 50%, #bce9ff 51%,
    #d6ecf2 59%, #deebf2 71%, #e6e9ee 84%, #c2dfed 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #deebf2 0%, #e2faff 17%, #f1f6ff 50%, #d6ecf2 51%,
    #e7f3ff 59%, #deebf2 71%, #bce9ff 84%, #d6ecf2 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #e7edf7 0%, #ebeaf3 17%, #dff3ff 50%, #e7f3ff 51%,
    #ebeaf3 59%, #d6ecf2 71%, #f4f8ff 84%, #f4f8ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedbe9', endColorstr='#26558b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

//router-outlet ~ * {
//  position: absolute;
//  height: 100%;
//  width: 100%;
//}

